/*Todo Site*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


/*Corpo*/
body{
background-color: black;
height: 100vh;

}

/* Estilo adicional para manter a interface organizada */
.interface {
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

.btn-contato button {
    background-color: #007bff;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;

}


h2.titulo{
    color:#fff;
    font-size: 38px;
    text-align: center;

}

h2.titulo span{
    color:#007bff;
    font-size: 38px;
    text-align: center;

}

 button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #0056b3;
    transform: scale(1.05);
}
/*Fim Todo Site*/



/*Estilo Cabeçalho*/

header{
    padding: 40px 4%;
}

/*Cabeçalho*/
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a{
    color:#777676;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color:#fff;
    transform: scale(1.05);
    transition: .3s;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}


/* Estilo para diminuir o tamanho da logo */
.logo img {
    width: 200px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
}
/*Fim Estilo Cabeçalho*/



/*Topo do Site*/
section.topo-do-site{
    padding: 40px 4%;


}

section.topo-do-site .flex{
   /* color: #fff;*/
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #007bff;
    font-size: 70px;

}

.topo-do-site .txt-topo-site p{
    color: #ffffff;
    font-size: 18px;
    margin: 40px 0;
}

/*Imagem do topo do site*/
.topo-do-site .img-topo-site img {
    width: 350px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
    position: relative;
    animation: Flutuar 2s ease-in-out infinite alternate;
}

/*Animação imagem*/



@keyframes Flutuar {
    0%{
        top:0;
    }
    100%{
        top: 30px;;
    }
}

/* Fim Topo do Site*/



/*Estilo das especialidades*/
section.especialidades{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #0f0f0f;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border: 2px solid #292828;
    border-radius: 20px;
    margin-top: 45px;
    transition: .3s;

}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #007bff;

}
.especialidades .especialidades-box i{
    color: #007bff;
    font-size: 70px;
    
}

.especialidades .especialidades-box h3{
    color: #007bff;
    font-size: 28px;
    margin: 15px 0;
    
}
/*Fim Estilo das especialidades*/


/*Sobre*/

section.sobre{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #0f0f0f;

}

section.sobre .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.sobre h2 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
    line-height: 40px;
}

.sobre .txt-sobre h2 span{
    color: #007bff;
    font-size: 40px;
    display: block;


}

.sobre .txt-sobre p{
    color: #ffffff;
    font-size: 18px;
    margin: 40px 0;
    text-align: justify;
}
.sobre .image-sobre img {
    width: 350px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
    position: relative;
    animation: Flutuar 2s ease-in-out infinite alternate;
} 

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #007bff;
    font-size: 30px;
    transition: .3s;
}
/*Fim Sobre*/

/*Fortfólio*/
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0px 40px 10px #0f0f0f;
}

section.portfolio .flex{
    gap: 80px ;
    justify-content: space-around;
    margin-top: 40px;
}



.portfolio .interface p{
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
    text-align: justify;
}

.img-port{
    width: 600px;
    height: 360px;
    /*background-color: #777676;*/
    background-size: cover; /*Imgagem preencher todo quadrado*/
    background-position: 0% 0%;
    transition: 2s;
}

.img-port:hover{
    background-position: 100% 100%;
}
/*Fim Fortfólio*/


/*Formulário*/
section.formulario{
    padding: 40px 4%;
    box-shadow: 0 0px 20px 10px #0f0f0f;
}

form{
max-width: 500px;
margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
gap: 10px;
margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #0f0f0f;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
}


form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #007bff;
    color: #0f0f0f;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}
/*Fim Formulário*/

/*Fim rodape*/
footer{
    padding: 60px 4%;
    box-shadow: 0 0px 20px 10px #0f0f0f;
}

footer .flex{
    justify-content: space-between;


}
footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #007bff;
}

footer .line-footer p i{
    color: #007bff;
    font-size: 22px;
}

footer .line-footer p a{
    color: #ffffff;
    font-size: 20px;
}
.logo-footer img {
    width: 200px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
}
/*Fim rodape*/